<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>PortableFS</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>EXAppExtensionAttributes</key>
	<dict>
		<key>EXExtensionPointIdentifier</key>
		<string>com.apple.fskit.fsmodule</string>
		<key>FSActivateOptionSyntax</key>
		<dict>
			<key>shortOptions</key>
			<string>o:</string>
		</dict>
		<key>FSMediaTypes</key>
		<dict/>
		<key>FSPersonalities</key>
		<dict>
			<key>PortableFSPersonality</key>
			<dict>
				<key>FSName</key>
				<string>pfs</string>
			</dict>
		</dict>
		<key>FSRequiresSecurityScopedPathURLResources</key>
		<false/>
		<key>FSShortName</key>
		<string>pfs</string>
		<key>FSSupportedSchemes</key>
		<array>
			<string>pfs</string>
		</array>
		<key>FSSupportsBlockResources</key>
		<false/>
		<key>FSSupportsGenericURLResources</key>
		<true/>
		<key>FSSupportsPathURLs</key>
		<false/>
	</dict>
	<key>PFSAppGroupIdentifier</key>
	<string>$(PORTABLEFS_APP_GROUP)</string>
</dict>
</plist>
